{% extends 'mainpage/base.html' %}

{% block title %}
  Вход
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card shadow">

<div class="container">
     <br>
      <p class="text-center">Авторизация</p>
    <br>

          <form method="post">
    {% csrf_token %}

   {{ form|crispy }}
    <div>
      <p><a href="{% url 'mainpage:register' %}">Регистрация</a></p>
    </div>
    <button class="btn btn-primary" type="submit" style="background-color: #cc2222">Login</button>
  </form>
<br>
<br>
<br>
        </div>
        </div>
            </div>
        <div class="col-md-1"></div>
    </div>
    </div>

<br>
<br>
<br>
<br>
{% endblock %}