{% extends 'mainpage/base.html' %}

{% block title %}
  Главная страница
{% endblock %}

{% block body %}
    <h1>Главная страница пользователя: {{ user.username }}</h1>
    <form action="{% url 'mainpage:calculator' %}">
        <button type="submit">Калькулятор</button>
    </form>
    <form action="{% url 'mainpage:profile' pk=user.profile.pk %}">
        <button type="submit">Профиль</button>
    </form>

    <form action="{% url 'mainpage:logout' %}">
        <button type="submit">Выход</button>
    </form>

{% endblock %}