{% extends 'mainpage/base.html' %}

{% block title %}
  Регистрация
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">




            <div class="card shadow">
                <br>
             <h1 class="text-center">Регистрация</h1>
                <div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form2|crispy }}
        {{ form1|crispy }}
        <input type="submit" class="btn btn-primary" style="background-color: #cc2222" value="Регистрация">
    </form>
                    <br>
                    <br>
</div>
</div>




        </div>
        <div class="col-md-1"></div>

    </div>

</div>
<br>
<br>
<br>
<br>
{% endblock %}